#skip-track-button
    appearance none
    -webkit-appearance none
    -moz-appearance none
    width 72px
    height 72px
    padding 6px
    margin 0 8px
    padding 0
    background-color transparent
    border 0
    border-radius 36px
    transition background-color .2s ease-out
    outline none
    cursor pointer

    &:hover,
    &:focus
        background-color rgba(255,255,255,.25)

#skip-track
    width inherit
    height inherit
    margin 0

    & > .fill
        transition fill .2s ease-out