#music-overlay
    position fixed
    z-index 5
    top 0
    left 0
    width 100%
    height 100vh
    object-fit cover
    object-position 50% 0
    filter blur(32px) saturate(1.75)
    transform scale(1.25)
    // animation music-overlay-animate 300s ease-in-out 0s infinite

// @keyframes music-overlay-animate
//     0%
//         object-position 50% 0

//     10%
//         object-position 45% -22.75vh

//     20%
//         object-position 67.5% -27.5vh

//     30%
//         object-position 70% -12.5vh

//     40%
//         object-position 52.5% -25vh

//     50%
//         object-position 40% -2.5vh

//     60%
//         object-position 35% 5vh

//     70%
//         object-position 70% -12.5vh

//     80%
//         object-position 60% -22.5.5vh

//     90%
//         object-position 40% -12.5vh

//     100%
//         object-position 50% 0