#music-playlists-toggler
    position relative
    flex 1
    display flex
    flex-direction row
    justify-content center
    align-items center
    max-width calc(100% - 56px)
    height 56px
    padding 16px
    border-radius 4px
    overflow hidden
    transition background-color .2s ease-out, max-width .2s ease-out, padding .2s ease-out
    cursor pointer

    &:hover,
    &:focus
        background-color rgba(255,255,255,.1)

    &.-light
        &:hover,
        &:focus
            background-color rgba(0,0,0,.1)

    &.-hidden
        max-width 0
        padding-left 0
        padding-right 0

#toggle-icon
    opacity .5
    transition transform .15s ease-out

    &.-close
        transform rotate(180deg)