#volume-modifier
    flex 1
    position relative
    display flex
    flex-direction column
    justify-content center
    align-items center

#volume-slider
    z-index 1
    -webkit-appearance none
    width calc(100% - 16px)
    padding 8px 0 4px 0
    background transparent
    will-change width
    outline none

    &::-webkit-slider-thumb
        -webkit-appearance none
        background #fff
        height 16px
        width 16px
        border 2px solid transparent
        border-radius 8px
        margin-top -6px

    &::-webkit-slider-runnable-track
        width 300px
        height 4px
        background rgba(255,255,255,.25)
        border-radius 2px

    &.-light
        &::-webkit-slider-thumb
            background var(--dark-text)

        &::-webkit-slider-runnable-track
            background rgba(0,0,0,.25)

#volume-intensity
    z-index 0
    position absolute
    top 10px
    left 8px
    max-width calc(100% - 20px)
    position absolute
    height 4px
    background #fff
    border-radius 4px

    &.-light
        background var(--dark-text)