#music-header
    display flex
    flex-direction row
    justify-content center
    align-items center
    width 100%
    padding 0 8px

    @media screen and (min-width 568px)
        width calc(100vh - 340px)
        padding 0

    @media screen and (max-height 568px) and (orientation landscape)
        flex 1
        width 80vh
        height 80vh
        padding 5vh 5vh calc(10vh + env(safe-area-inset-top)) 5vh
        max-width 80vh
        max-height 80vh

#music-cover
    max-width calc(100vh - 340px)
    max-height calc(100vh - 340px)
    object-fit cover
    object-position center
    margin 0 0 12px 0
    border-radius 8px
    box-shadow 0 8px 32px rgba(0,0,0,.5)
    transition max-height .5s cubic-bezier(.01,.94,.72,1.02), max-width .5s cubic-bezier(.01,.94,.72,1.02), box-shadow .5s cubic-bezier(.01,.94,.72,1.02)
    animation music-cover-appear .5s ease-out 0s 1

    &.-collapse
        max-width 80px
        max-height 80px
        box-shadow 0 2px 8px rgba(0,0,0,.25) !important

    @media screen and (max-height 568px) and (orientation landscape)
        max-width 100%
        max-height 100%
        margin 0

@keyframes music-cover-appear
    0%
        opacity 0
        transform scale(.85)

    30%
        opacity 1
        transform scale(.85)